html, body {
  background-image: linear-gradient(to bottom, rgba(62,74,92,0.32),  rgba(255, 255, 255, 0.12));
  height: 100%;
  width: 100%;
  font-family: district-pro, sans-serif;
}

h2 {
color: rgb(61, 60, 60);
font-family: district-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;

}

h3 {
color: rgb(44, 43, 43);
font-weight: 400;
font-size: 35px;
font-family: district-pro, sans-serif;
}

h4 {
font-size: 20px;
font-family: district-pro, sans-serif;
}

h5 {
font-size: 14px;
font-family: district-pro, sans-serif;
}

p {
font-family: proxima-nova, sans-serif;
}

.navbar {
  background-image: url("covidbanner2.svg");
  background-size: cover;
  width: 100%;

  background-repeat: no-repeat;
}
.navbar-expand-lg {
  height: 250px;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #505050; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #920f0f;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 20px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  font-family: district-pro, sans-serif;
  cursor: pointer;
  background-color: none;
  color: rgb(44, 43, 43);
  padding: 10px 15px;
  border: none;
  
}

.openbtn:hover {
  background-color: rgb(165, 172, 185);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.container-fluid {
  background-size: 100%;
  padding: 0%;
  margin: 0%;
  font-family: district-pro, sans-serif;
  background-image: linear-gradient(to bottom, rgba(62,74,92,0.32),  rgba(255, 255, 255, 0.12));

}
.img-size {
  max-width: 100%;
  }

.img-card {
  max-width: 96%;
  max-height: 96%;
  }


.flip-card {
  width: 100%;
  perspective: 500px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  padding: 4%;
  height: fit-content;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  -webkit-box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  -moz-box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  color: rgb(44, 43, 43);
  height: fit-content;
  background-color: rgb(247, 247, 247);

}

/* Style the back side */
.flip-card-back {
  color: #3a3a39;
  -webkit-box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  -moz-box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  box-shadow: 10px 10px 34px -10px rgba(62,74,92,0.82);
  transform: rotateY(180deg);
  background-color: rgb(247, 247, 247);

}

.hr-card {
  max-width: 96%;

}

.h2-responsive {
  padding: 3%;

}

.divider-gradient {
  background-image: linear-gradient(to bottom, rgba(62,74,92,0.32),  rgba(255, 255, 255, 0.12));
  height: 20px;
}

#main {
  height: fit-content;
  width: 100%;

}

#myPadding {
  padding-left: 4%;
  padding-right: 2%;
}

#map {
  height: 100%;
}


.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
/* Data table css */
table {
  width: 100%;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #ffffff;
  display: inline-block;
  border-collapse: collapse;
  margin: 10px auto;


}

thead {
  display: inline-block;
  width: fit-content;
  height: inherit;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-family: district-pro, sans-serif;


}
tbody {
  display: inline-block;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  border-collapse: collapse;
  font-family: district-pro, sans-serif;


}
tr, td {

  border-collapse: collapse;
  text-align: left;
  font-family: district-pro, sans-serif;

}
.table-responsive {
  max-width: 100%;
  width: 100%;
}
.table-wrap {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

.my-custom-scrollbar {
  position: relative;
  height: 100%;
  overflow: auto;
  width: auto;
  }

.table-wrapper-scroll-y {
  display: block;
  width: 100%;
  }
#MyTable td:hover {
    background: #cccccc;
    }

#DataTable {
    background-color: #F6F6FC;
}

#MyHover a:hover {
    background: #67737F;
  }

#Cover {
    background-color: #ffffff;
    -webkit-box-shadow: -5px 2px 6px -1px rgba(114,114,114,0.64), -5px 2px 6px -1px rgba(114,114,114,0.64);
    box-shadow: -5px 2px 6px -1px rgba(114,114,114,0.64), -5px 2px 6px -1px rgba(114,114,114,0.64);
    padding: 2%;
}
tr th:nth-child(1) {
  width: 10%;
}

tr th:nth-child(2) {
  width: 25%;
}
tr th:nth-child(3) {
  width: 15%;
}
tr th:nth-child(4) {
  width: 15%;
}

tr th:nth-child(5) {
    width: 20%;
}
tr th:nth-child(6) {
  width: 15%;
}

tr td:nth-child(1) {
  width: 10%;
}

tr td:nth-child(2) {
  width: 25%;
}
tr td:nth-child(3) {
  width: 15%;
}
tr td:nth-child(4) {
  width: 15%;
}

tr td:nth-child(5) {
    width: 20%;
}
tr td:nth-child(6) {
  width: 15%; }

.col-md-12 {
    max-width: 100%;
    width: 100%;
    font-family: district-pro, sans-serif;
    width: fit-content;
}

.container-dashboard {
  padding-left: 4%;
  padding-top: 2%;
  padding-right: 2%;
}

